.main-footer {
  position: relative;
  .footer-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .left-side-wrapper {
    position: relative;
    // margin-bottom: 100px;
    img {
      width: 50%;
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (max-width: 575px) {
        width: 15%;
        margin-bottom: 0.9375rem;
      }
    }
  }
  .middle-text-wrapper {
    position: relative;
    p {
      color: $white;
      font-family: $font-secondary;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 20px;
      width: 90%;
      // margin-top: 14px;
      @media (max-width: 767px) {
        font-size: 0.9rem;
      }
    }
  }
  .Button-wrapper {
    position: relative;
  }
  .main-wrapper {
    position: relative;
    border-top: 1px solid #30363a;
    padding-top: 2.1875rem;
    padding-bottom: 15rem;
    @media (max-width: 767px) {
      padding-bottom: 4rem;
    }
    .buttom-left-section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.875rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          width: 5.375rem;
          height: 0.25rem;
          bottom: -0.625rem;
          left: 0;
          background: #4bb4ff;
        }
      }
      .inner-wrapper {
        li {
          display: flex;
          flex-direction: column;
          a {
            color: $white;
            font-family: $font-primary;
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .buttom-middle-section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.875rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          color: #000;
          width: 5.375rem;
          height: 0.25rem;
          bottom: -0.625rem;
          left: 0;
          background: #4bb4ff;
        }
      }
      .inner-wrapper {
        display: flex;
        li {
          display: flex;
          flex-direction: column;
          margin-right: 5.25rem;
          a {
            color: $white;
            font-family: $font-primary;
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: 500;
            &:hover {
              text-decoration: underline;
            }
          }
          @media (max-width: 991px) {
            margin-right: 1.25rem;
          }
        }
      }
    }
    .buttom-right-section {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        color: $white;
        font-family: $font-primary;
        font-size: 1.25rem;
        font-weight: 700;
        margin-bottom: 1.875rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          color: #000;
          width: 5.375rem;
          height: 0.25rem;
          bottom: -0.625rem;
          left: 0;
          background: #4bb4ff;
        }
      }
      // .inner-wrapper {
      //   display: flex;
      //   li {
      //     display: flex;
      //     flex-direction: column;
      //     margin-right: 5.25rem;
      //     a {
      //       color: $white;
      //       font-family: $font-primary;
      //       font-size: 1rem;
      //       margin-bottom: 1rem;
      //       font-weight: 500;
      //       &:hover {
      //         text-decoration: underline;
      //       }
      //     }
      //     @media (max-width: 991px) {
      //       margin-right: 1.25rem;
      //     }
      //   }
      // }
      .inner-wrapper {
        display: flex;

        li {
          display: flex;
          flex-direction: column;
          margin-right: 5.25rem;

          a {
            color: $white;
            font-family: $font-primary;
            font-size: 1rem;
            margin-bottom: 1rem;
            font-weight: 500;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          @media (max-width: 991px) {
            margin-right: 1.25rem;
          }
        }
      }
    }
  }
}

.copyright-section {
  background-color: #1a1a1e;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
    font-family: $font-secondary;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.25rem;
  }
}
// .copyright-section {
//   background-color: #1a1a1e;
//   height: 45px;
//   .text-wrapper {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     h1,
//     h2,
//     h3,
//     h4,
//     h5,
//     h6 {
//       color: $white;
//       font-family: $font-secondary;
//       font-size: 0.75rem;
//       font-weight: 400;
//       line-height: 1.25rem;
//     }
//   }
// }
