// .main-header {
//   background-color: #000433;
//   position: static;
//   top: 0px;
//   z-index: 1;
//   .logo-wrapper {
//     margin-top: 0.5rem;
//     a {
//       img {
//         height: 90%;
//         width: 35%;
//         @media (max-width: 991px) {
//           width: 70%;
//         }
//         @media (max-width: 767px) {
//           width: 40%;
//         }
//         @media (max-width: 575px) {
//           width: 20%;
//         }
//       }
//     }
//   }

//   .nav-wrapper {
//     position: relative;
//     transition: 0.3s ease-in-out;
//     &.show {
//       transform: translateX(0);
//     }
//     ul {
//       list-style: none;
//       padding: 1.875rem 0rem 1.875rem 0rem;
//       display: flex;
//       align-items: center;
//       justify-content: center;

//       li {
//         display: inline-block;
//         a {
//           text-decoration: none;
//           color: $white;
//           font-family: $font-primary;
//           font-size: 16px;
//           font-weight: 500;
//           margin-right: 3rem;
//         }
//         a:hover {
//           color: #ff7e00;
//         }
//       }
//     }
//     @media (max-width: 767px) {
//       position: fixed;
//       background-color: #fff;
//       top: 0;
//       left: 0;
//       height: 100vh;
//       z-index: 9;
//       width: 100%;
//       transform: translateX(-100rem);
//       ul {
//         flex-direction: column;
//         height: 100%;
//         li {
//           margin-bottom: 1.25rem;
//           &:last-child {
//             margin-bottom: 0;
//           }
//           a {
//             color: #000;
//           }
//         }
//       }
//     }
//   }
//   .mobile-menu-close,
//   .hamburger-menu {
//     display: none;
//     @media (max-width: 767px) {
//       display: block;
//       position: absolute;
//       right: 10px;
//       top: 10px;
//     }
//   }
//   .Button-wrapper {
//     @media (max-width: 575px) {
//       width: 50%;
//     }
//   }
// }
.main-header {
  background-color: #000433;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo-wrapper {
    margin-top: 0.5rem;
    a {
      img {
        height: 100%;
        width: 50%;
        @media (max-width: 991px) {
          width: 70%;
        }
        @media (max-width: 767px) {
          width: 40%;
        }
        @media (max-width: 575px) {
          width: 20%;
        }
      }
    }
  }

  .nav-wrapper {
    position: relative;
    transition: 0.3s ease-in-out;
    &.show {
      transform: translateX(0);
    }
    ul {
      list-style: none;
      padding: 1.875rem 0rem 1.875rem 0rem;
      display: flex;
      align-items: center;
      justify-content: center;

      li {
        display: inline-block;
        a {
          text-decoration: none;
          color: $white;
          font-family: $font-primary;
          font-size: 16px;
          font-weight: 500;
          margin-right: 3rem;
          @media (max-width: 991px) {
            margin-right: 2rem;
          }
        }
        a:hover {
          color: #ff7e00;
        }
      }
    }
    @media (max-width: 767px) {
      position: fixed; /* Change to fixed */
      background-color: #fff;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 9;
      width: 100%;
      transform: translateX(-100rem);
      ul {
        flex-direction: column;
        height: 100%;
        li {
          margin-bottom: 1.25rem;
          &:last-child {
            margin-bottom: 0;
          }
          a {
            color: #000;
          }
        }
      }
    }
  }
  .mobile-menu-close,
  .hamburger-menu {
    display: none;
    @media (max-width: 767px) {
      display: block;
      position: absolute;
      right: 10px;
      top: 10px;
    }
  }
  .Button-wrapper {
    padding: 16px 26px;
    @media (max-width: 575px) {
      width: 50%;
    }
  }
}
